.bookingContainer{
    background-color: bisque;
}

.orderButton{
    width: 10vw;
}

.resumeRow{
    display: flex;
    justify-content: center;
}

.error{
    color: red;
}

.success{
    color:rgb(43, 226, 52);
}